<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>skill2/3/08.png</key>
			<dict>
				<key>width</key>
				<integer>687</integer>
				<key>height</key>
				<integer>383</integer>
				<key>originalWidth</key>
				<integer>1600</integer>
				<key>originalHeight</key>
				<integer>1600</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>397.5</real>
				<key>offsetY</key>
				<real>-162.5</real>
			</dict>
			<key>skill2/3/09.png</key>
			<dict>
				<key>width</key>
				<integer>685</integer>
				<key>height</key>
				<integer>383</integer>
				<key>originalWidth</key>
				<integer>1600</integer>
				<key>originalHeight</key>
				<integer>1600</integer>
				<key>x</key>
				<integer>688</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>412.5</real>
				<key>offsetY</key>
				<real>-181.5</real>
			</dict>
			<key>skill2/3/10.png</key>
			<dict>
				<key>width</key>
				<integer>709</integer>
				<key>height</key>
				<integer>375</integer>
				<key>originalWidth</key>
				<integer>1600</integer>
				<key>originalHeight</key>
				<integer>1600</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>384</integer>
				<key>offsetX</key>
				<real>425.5</real>
				<key>offsetY</key>
				<real>-197.5</real>
			</dict>
			<key>skill2/4/01.png</key>
			<dict>
				<key>width</key>
				<integer>357</integer>
				<key>height</key>
				<integer>177</integer>
				<key>originalWidth</key>
				<integer>1600</integer>
				<key>originalHeight</key>
				<integer>1600</integer>
				<key>x</key>
				<integer>710</integer>
				<key>y</key>
				<integer>384</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-77.5</real>
			</dict>
			<key>skill2/4/02.png</key>
			<dict>
				<key>width</key>
				<integer>410</integer>
				<key>height</key>
				<integer>464</integer>
				<key>originalWidth</key>
				<integer>1600</integer>
				<key>originalHeight</key>
				<integer>1600</integer>
				<key>x</key>
				<integer>1068</integer>
				<key>y</key>
				<integer>384</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-17</real>
			</dict>
			<key>skill2/4/03.png</key>
			<dict>
				<key>width</key>
				<integer>437</integer>
				<key>height</key>
				<integer>498</integer>
				<key>originalWidth</key>
				<integer>1600</integer>
				<key>originalHeight</key>
				<integer>1600</integer>
				<key>x</key>
				<integer>1479</integer>
				<key>y</key>
				<integer>384</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-24</real>
			</dict>
			<key>skill2/4/04.png</key>
			<dict>
				<key>width</key>
				<integer>500</integer>
				<key>height</key>
				<integer>550</integer>
				<key>originalWidth</key>
				<integer>1600</integer>
				<key>originalHeight</key>
				<integer>1600</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>883</integer>
				<key>offsetX</key>
				<real>16</real>
				<key>offsetY</key>
				<real>-24</real>
			</dict>
			<key>skill2/4/05.png</key>
			<dict>
				<key>width</key>
				<integer>524</integer>
				<key>height</key>
				<integer>545</integer>
				<key>originalWidth</key>
				<integer>1600</integer>
				<key>originalHeight</key>
				<integer>1600</integer>
				<key>x</key>
				<integer>501</integer>
				<key>y</key>
				<integer>883</integer>
				<key>offsetX</key>
				<real>13</real>
				<key>offsetY</key>
				<real>-55.5</real>
			</dict>
			<key>skill2/4/06.png</key>
			<dict>
				<key>width</key>
				<integer>536</integer>
				<key>height</key>
				<integer>445</integer>
				<key>originalWidth</key>
				<integer>1600</integer>
				<key>originalHeight</key>
				<integer>1600</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>883</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-131.5</real>
			</dict>
			<key>skill2/4/07.png</key>
			<dict>
				<key>width</key>
				<integer>566</integer>
				<key>height</key>
				<integer>469</integer>
				<key>originalWidth</key>
				<integer>1600</integer>
				<key>originalHeight</key>
				<integer>1600</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1434</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-151.5</real>
			</dict>
			<key>skill2/4/08.png</key>
			<dict>
				<key>width</key>
				<integer>609</integer>
				<key>height</key>
				<integer>413</integer>
				<key>originalWidth</key>
				<integer>1600</integer>
				<key>originalHeight</key>
				<integer>1600</integer>
				<key>x</key>
				<integer>567</integer>
				<key>y</key>
				<integer>1434</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-235.5</real>
			</dict>
			<key>skill2/4/09.png</key>
			<dict>
				<key>width</key>
				<integer>680</integer>
				<key>height</key>
				<integer>360</integer>
				<key>originalWidth</key>
				<integer>1600</integer>
				<key>originalHeight</key>
				<integer>1600</integer>
				<key>x</key>
				<integer>1177</integer>
				<key>y</key>
				<integer>1434</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-257</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>1510122.png</string>
			<key>realTextureFileName</key>
			<string>1510122.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>