<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>skill2/2/04.png</key>
			<dict>
				<key>width</key>
				<integer>739</integer>
				<key>height</key>
				<integer>323</integer>
				<key>originalWidth</key>
				<integer>1600</integer>
				<key>originalHeight</key>
				<integer>1600</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>182.5</real>
				<key>offsetY</key>
				<real>59.5</real>
			</dict>
			<key>skill2/2/06.png</key>
			<dict>
				<key>width</key>
				<integer>709</integer>
				<key>height</key>
				<integer>261</integer>
				<key>originalWidth</key>
				<integer>1600</integer>
				<key>originalHeight</key>
				<integer>1600</integer>
				<key>x</key>
				<integer>740</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>277.5</real>
				<key>offsetY</key>
				<real>18.5</real>
			</dict>
			<key>skill2/2/07.png</key>
			<dict>
				<key>width</key>
				<integer>742</integer>
				<key>height</key>
				<integer>280</integer>
				<key>originalWidth</key>
				<integer>1600</integer>
				<key>originalHeight</key>
				<integer>1600</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>324</integer>
				<key>offsetX</key>
				<real>294</real>
				<key>offsetY</key>
				<real>15</real>
			</dict>
			<key>skill2/2/08.png</key>
			<dict>
				<key>width</key>
				<integer>630</integer>
				<key>height</key>
				<integer>283</integer>
				<key>originalWidth</key>
				<integer>1600</integer>
				<key>originalHeight</key>
				<integer>1600</integer>
				<key>x</key>
				<integer>743</integer>
				<key>y</key>
				<integer>324</integer>
				<key>offsetX</key>
				<real>404</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>skill2/2/09.png</key>
			<dict>
				<key>width</key>
				<integer>604</integer>
				<key>height</key>
				<integer>280</integer>
				<key>originalWidth</key>
				<integer>1600</integer>
				<key>originalHeight</key>
				<integer>1600</integer>
				<key>x</key>
				<integer>1374</integer>
				<key>y</key>
				<integer>324</integer>
				<key>offsetX</key>
				<real>427</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>skill2/2/10.png</key>
			<dict>
				<key>width</key>
				<integer>594</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>1600</integer>
				<key>originalHeight</key>
				<integer>1600</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>608</integer>
				<key>offsetX</key>
				<real>455</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>skill2/3/01.png</key>
			<dict>
				<key>width</key>
				<integer>497</integer>
				<key>height</key>
				<integer>224</integer>
				<key>originalWidth</key>
				<integer>1600</integer>
				<key>originalHeight</key>
				<integer>1600</integer>
				<key>x</key>
				<integer>595</integer>
				<key>y</key>
				<integer>608</integer>
				<key>offsetX</key>
				<real>262.5</real>
				<key>offsetY</key>
				<real>-49</real>
			</dict>
			<key>skill2/3/02.png</key>
			<dict>
				<key>width</key>
				<integer>592</integer>
				<key>height</key>
				<integer>430</integer>
				<key>originalWidth</key>
				<integer>1600</integer>
				<key>originalHeight</key>
				<integer>1600</integer>
				<key>x</key>
				<integer>1093</integer>
				<key>y</key>
				<integer>608</integer>
				<key>offsetX</key>
				<real>204</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>skill2/3/03.png</key>
			<dict>
				<key>width</key>
				<integer>662</integer>
				<key>height</key>
				<integer>447</integer>
				<key>originalWidth</key>
				<integer>1600</integer>
				<key>originalHeight</key>
				<integer>1600</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1039</integer>
				<key>offsetX</key>
				<real>164</real>
				<key>offsetY</key>
				<real>-8.5</real>
			</dict>
			<key>skill2/3/04.png</key>
			<dict>
				<key>width</key>
				<integer>705</integer>
				<key>height</key>
				<integer>500</integer>
				<key>originalWidth</key>
				<integer>1600</integer>
				<key>originalHeight</key>
				<integer>1600</integer>
				<key>x</key>
				<integer>663</integer>
				<key>y</key>
				<integer>1039</integer>
				<key>offsetX</key>
				<real>181.5</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>skill2/3/05.png</key>
			<dict>
				<key>width</key>
				<integer>731</integer>
				<key>height</key>
				<integer>464</integer>
				<key>originalWidth</key>
				<integer>1600</integer>
				<key>originalHeight</key>
				<integer>1600</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1540</integer>
				<key>offsetX</key>
				<real>208.5</real>
				<key>offsetY</key>
				<real>-41</real>
			</dict>
			<key>skill2/3/06.png</key>
			<dict>
				<key>width</key>
				<integer>655</integer>
				<key>height</key>
				<integer>436</integer>
				<key>originalWidth</key>
				<integer>1600</integer>
				<key>originalHeight</key>
				<integer>1600</integer>
				<key>x</key>
				<integer>732</integer>
				<key>y</key>
				<integer>1540</integer>
				<key>offsetX</key>
				<real>287.5</real>
				<key>offsetY</key>
				<real>-90</real>
			</dict>
			<key>skill2/3/07.png</key>
			<dict>
				<key>width</key>
				<integer>628</integer>
				<key>height</key>
				<integer>466</integer>
				<key>originalWidth</key>
				<integer>1600</integer>
				<key>originalHeight</key>
				<integer>1600</integer>
				<key>x</key>
				<integer>1388</integer>
				<key>y</key>
				<integer>1540</integer>
				<key>offsetX</key>
				<real>355</real>
				<key>offsetY</key>
				<real>-97</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>1510121.png</string>
			<key>realTextureFileName</key>
			<string>1510121.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>