<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>xinshoucunchangjing2/502_2_005.png</key>
			<dict>
				<key>width</key>
				<integer>265</integer>
				<key>height</key>
				<integer>284</integer>
				<key>originalWidth</key>
				<integer>1971</integer>
				<key>originalHeight</key>
				<integer>1075</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>212</real>
				<key>offsetY</key>
				<real>-224.5</real>
			</dict>
			<key>xinshoucunchangjing2/502_2_006.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>264</integer>
				<key>originalWidth</key>
				<integer>1971</integer>
				<key>originalHeight</key>
				<integer>1075</integer>
				<key>x</key>
				<integer>266</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>216.5</real>
				<key>offsetY</key>
				<real>-234.5</real>
			</dict>
			<key>xinshoucunchangjing2/502_2_007.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>264</integer>
				<key>originalWidth</key>
				<integer>1971</integer>
				<key>originalHeight</key>
				<integer>1075</integer>
				<key>x</key>
				<integer>523</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>216.5</real>
				<key>offsetY</key>
				<real>-234.5</real>
			</dict>
			<key>xinshoucunchangjing2/502_2_008.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>264</integer>
				<key>originalWidth</key>
				<integer>1971</integer>
				<key>originalHeight</key>
				<integer>1075</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>285</integer>
				<key>offsetX</key>
				<real>216.5</real>
				<key>offsetY</key>
				<real>-234.5</real>
			</dict>
			<key>xinshoucunchangjing2/502_2_009.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>264</integer>
				<key>originalWidth</key>
				<integer>1971</integer>
				<key>originalHeight</key>
				<integer>1075</integer>
				<key>x</key>
				<integer>257</integer>
				<key>y</key>
				<integer>285</integer>
				<key>offsetX</key>
				<real>216.5</real>
				<key>offsetY</key>
				<real>-234.5</real>
			</dict>
			<key>xinshoucunchangjing2/502_2_010.png</key>
			<dict>
				<key>width</key>
				<integer>257</integer>
				<key>height</key>
				<integer>264</integer>
				<key>originalWidth</key>
				<integer>1971</integer>
				<key>originalHeight</key>
				<integer>1075</integer>
				<key>x</key>
				<integer>514</integer>
				<key>y</key>
				<integer>285</integer>
				<key>offsetX</key>
				<real>217</real>
				<key>offsetY</key>
				<real>-234.5</real>
			</dict>
			<key>xinshoucunchangjing2/502_2_011.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>264</integer>
				<key>originalWidth</key>
				<integer>1971</integer>
				<key>originalHeight</key>
				<integer>1075</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>550</integer>
				<key>offsetX</key>
				<real>216.5</real>
				<key>offsetY</key>
				<real>-234.5</real>
			</dict>
			<key>xinshoucunchangjing3/502_3_000.png</key>
			<dict>
				<key>width</key>
				<integer>186</integer>
				<key>height</key>
				<integer>171</integer>
				<key>originalWidth</key>
				<integer>1971</integer>
				<key>originalHeight</key>
				<integer>1075</integer>
				<key>x</key>
				<integer>257</integer>
				<key>y</key>
				<integer>550</integer>
				<key>offsetX</key>
				<real>433.5</real>
				<key>offsetY</key>
				<real>-248</real>
			</dict>
			<key>xinshoucunchangjing3/502_3_001.png</key>
			<dict>
				<key>width</key>
				<integer>198</integer>
				<key>height</key>
				<integer>189</integer>
				<key>originalWidth</key>
				<integer>1971</integer>
				<key>originalHeight</key>
				<integer>1075</integer>
				<key>x</key>
				<integer>444</integer>
				<key>y</key>
				<integer>550</integer>
				<key>offsetX</key>
				<real>439.5</real>
				<key>offsetY</key>
				<real>-239</real>
			</dict>
			<key>xinshoucunchangjing3/502_3_002.png</key>
			<dict>
				<key>width</key>
				<integer>201</integer>
				<key>height</key>
				<integer>205</integer>
				<key>originalWidth</key>
				<integer>1971</integer>
				<key>originalHeight</key>
				<integer>1075</integer>
				<key>x</key>
				<integer>643</integer>
				<key>y</key>
				<integer>550</integer>
				<key>offsetX</key>
				<real>442</real>
				<key>offsetY</key>
				<real>-235</real>
			</dict>
			<key>xinshoucunchangjing3/502_3_006.png</key>
			<dict>
				<key>width</key>
				<integer>197</integer>
				<key>height</key>
				<integer>196</integer>
				<key>originalWidth</key>
				<integer>1971</integer>
				<key>originalHeight</key>
				<integer>1075</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>815</integer>
				<key>offsetX</key>
				<real>440</real>
				<key>offsetY</key>
				<real>-242.5</real>
			</dict>
			<key>xinshoucunchangjing3/502_3_007.png</key>
			<dict>
				<key>width</key>
				<integer>197</integer>
				<key>height</key>
				<integer>188</integer>
				<key>originalWidth</key>
				<integer>1971</integer>
				<key>originalHeight</key>
				<integer>1075</integer>
				<key>x</key>
				<integer>198</integer>
				<key>y</key>
				<integer>815</integer>
				<key>offsetX</key>
				<real>440</real>
				<key>offsetY</key>
				<real>-238.5</real>
			</dict>
			<key>xinshoucunchangjing3/502_3_008.png</key>
			<dict>
				<key>width</key>
				<integer>198</integer>
				<key>height</key>
				<integer>192</integer>
				<key>originalWidth</key>
				<integer>1971</integer>
				<key>originalHeight</key>
				<integer>1075</integer>
				<key>x</key>
				<integer>396</integer>
				<key>y</key>
				<integer>815</integer>
				<key>offsetX</key>
				<real>439.5</real>
				<key>offsetY</key>
				<real>-240.5</real>
			</dict>
			<key>xinshoucunchangjing3/502_3_009.png</key>
			<dict>
				<key>width</key>
				<integer>198</integer>
				<key>height</key>
				<integer>187</integer>
				<key>originalWidth</key>
				<integer>1971</integer>
				<key>originalHeight</key>
				<integer>1075</integer>
				<key>x</key>
				<integer>595</integer>
				<key>y</key>
				<integer>815</integer>
				<key>offsetX</key>
				<real>439.5</real>
				<key>offsetY</key>
				<real>-238</real>
			</dict>
			<key>xinshoucunchangjing3/502_3_010.png</key>
			<dict>
				<key>width</key>
				<integer>197</integer>
				<key>height</key>
				<integer>185</integer>
				<key>originalWidth</key>
				<integer>1971</integer>
				<key>originalHeight</key>
				<integer>1075</integer>
				<key>x</key>
				<integer>794</integer>
				<key>y</key>
				<integer>815</integer>
				<key>offsetX</key>
				<real>440</real>
				<key>offsetY</key>
				<real>-237</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>5021.png</string>
			<key>realTextureFileName</key>
			<string>5021.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>