<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>monster/atk/0/atk00004.png</key>
			<dict>
				<key>width</key>
				<integer>119</integer>
				<key>height</key>
				<integer>177</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>70.5</real>
			</dict>
			<key>monster/atk/0/atk00005.png</key>
			<dict>
				<key>width</key>
				<integer>207</integer>
				<key>height</key>
				<integer>159</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>120</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>55.5</real>
				<key>offsetY</key>
				<real>61.5</real>
			</dict>
			<key>monster/atk/0/atk00006.png</key>
			<dict>
				<key>width</key>
				<integer>215</integer>
				<key>height</key>
				<integer>158</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>328</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>55.5</real>
				<key>offsetY</key>
				<real>63</real>
			</dict>
			<key>monster/atk/0/atk00007.png</key>
			<dict>
				<key>width</key>
				<integer>190</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>544</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>46</real>
				<key>offsetY</key>
				<real>60</real>
			</dict>
			<key>monster/atk/0/atk00008.png</key>
			<dict>
				<key>width</key>
				<integer>182</integer>
				<key>height</key>
				<integer>155</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>735</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>42</real>
				<key>offsetY</key>
				<real>62.5</real>
			</dict>
			<key>monster/atk/0/atk00009.png</key>
			<dict>
				<key>width</key>
				<integer>139</integer>
				<key>height</key>
				<integer>154</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>918</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>20.5</real>
				<key>offsetY</key>
				<real>61</real>
			</dict>
			<key>monster/atk/0/atk00010.png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>154</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>1058</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>59</real>
			</dict>
			<key>monster/atk/1/atk10000.png</key>
			<dict>
				<key>width</key>
				<integer>142</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>1210</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>27</real>
				<key>offsetY</key>
				<real>53.5</real>
			</dict>
			<key>monster/atk/1/atk10001.png</key>
			<dict>
				<key>width</key>
				<integer>135</integer>
				<key>height</key>
				<integer>239</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>1353</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>91.5</real>
			</dict>
			<key>monster/atk/1/atk10002.png</key>
			<dict>
				<key>width</key>
				<integer>146</integer>
				<key>height</key>
				<integer>214</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>1489</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-21</real>
				<key>offsetY</key>
				<real>78</real>
			</dict>
			<key>monster/atk/1/atk10003.png</key>
			<dict>
				<key>width</key>
				<integer>176</integer>
				<key>height</key>
				<integer>168</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>1636</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-40</real>
				<key>offsetY</key>
				<real>55</real>
			</dict>
			<key>monster/atk/1/atk10004.png</key>
			<dict>
				<key>width</key>
				<integer>167</integer>
				<key>height</key>
				<integer>198</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>1813</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>23.5</real>
				<key>offsetY</key>
				<real>70</real>
			</dict>
			<key>monster/atk/1/atk10005.png</key>
			<dict>
				<key>width</key>
				<integer>237</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>240</integer>
				<key>offsetX</key>
				<real>62.5</real>
				<key>offsetY</key>
				<real>48</real>
			</dict>
			<key>monster/atk/1/atk10006.png</key>
			<dict>
				<key>width</key>
				<integer>228</integer>
				<key>height</key>
				<integer>184</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>238</integer>
				<key>y</key>
				<integer>240</integer>
				<key>offsetX</key>
				<real>45</real>
				<key>offsetY</key>
				<real>43</real>
			</dict>
			<key>monster/atk/1/atk10007.png</key>
			<dict>
				<key>width</key>
				<integer>173</integer>
				<key>height</key>
				<integer>193</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>467</integer>
				<key>y</key>
				<integer>240</integer>
				<key>offsetX</key>
				<real>25.5</real>
				<key>offsetY</key>
				<real>41.5</real>
			</dict>
			<key>monster/atk/1/atk10008.png</key>
			<dict>
				<key>width</key>
				<integer>183</integer>
				<key>height</key>
				<integer>173</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>641</integer>
				<key>y</key>
				<integer>240</integer>
				<key>offsetX</key>
				<real>41.5</real>
				<key>offsetY</key>
				<real>51.5</real>
			</dict>
			<key>monster/atk/1/atk10009.png</key>
			<dict>
				<key>width</key>
				<integer>152</integer>
				<key>height</key>
				<integer>165</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>825</integer>
				<key>y</key>
				<integer>240</integer>
				<key>offsetX</key>
				<real>52</real>
				<key>offsetY</key>
				<real>54.5</real>
			</dict>
			<key>monster/atk/1/atk10010.png</key>
			<dict>
				<key>width</key>
				<integer>142</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>978</integer>
				<key>y</key>
				<integer>240</integer>
				<key>offsetX</key>
				<real>27</real>
				<key>offsetY</key>
				<real>53.5</real>
			</dict>
			<key>monster/atk/2/atk20000.png</key>
			<dict>
				<key>width</key>
				<integer>162</integer>
				<key>height</key>
				<integer>161</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>1121</integer>
				<key>y</key>
				<integer>240</integer>
				<key>offsetX</key>
				<real>33</real>
				<key>offsetY</key>
				<real>51.5</real>
			</dict>
			<key>monster/atk/2/atk20001.png</key>
			<dict>
				<key>width</key>
				<integer>107</integer>
				<key>height</key>
				<integer>233</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>1284</integer>
				<key>y</key>
				<integer>240</integer>
				<key>offsetX</key>
				<real>19.5</real>
				<key>offsetY</key>
				<real>87.5</real>
			</dict>
			<key>monster/atk/2/atk20002.png</key>
			<dict>
				<key>width</key>
				<integer>196</integer>
				<key>height</key>
				<integer>237</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>1392</integer>
				<key>y</key>
				<integer>240</integer>
				<key>offsetX</key>
				<real>-25</real>
				<key>offsetY</key>
				<real>89.5</real>
			</dict>
			<key>monster/atk/2/atk20003.png</key>
			<dict>
				<key>width</key>
				<integer>234</integer>
				<key>height</key>
				<integer>187</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>1589</integer>
				<key>y</key>
				<integer>240</integer>
				<key>offsetX</key>
				<real>-51</real>
				<key>offsetY</key>
				<real>65.5</real>
			</dict>
			<key>monster/atk/2/atk20004.png</key>
			<dict>
				<key>width</key>
				<integer>205</integer>
				<key>height</key>
				<integer>208</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>1824</integer>
				<key>y</key>
				<integer>240</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>76</real>
			</dict>
			<key>monster/atk/2/atk20005.png</key>
			<dict>
				<key>width</key>
				<integer>174</integer>
				<key>height</key>
				<integer>202</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>478</integer>
				<key>offsetX</key>
				<real>32</real>
				<key>offsetY</key>
				<real>21</real>
			</dict>
			<key>monster/atk/2/atk20006.png</key>
			<dict>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>203</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>175</integer>
				<key>y</key>
				<integer>478</integer>
				<key>offsetX</key>
				<real>16</real>
				<key>offsetY</key>
				<real>22.5</real>
			</dict>
			<key>monster/atk/2/atk20007.png</key>
			<dict>
				<key>width</key>
				<integer>139</integer>
				<key>height</key>
				<integer>194</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>320</integer>
				<key>y</key>
				<integer>478</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>32</real>
			</dict>
			<key>monster/atk/2/atk20008.png</key>
			<dict>
				<key>width</key>
				<integer>155</integer>
				<key>height</key>
				<integer>188</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>460</integer>
				<key>y</key>
				<integer>478</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>37</real>
			</dict>
			<key>monster/atk/2/atk20009.png</key>
			<dict>
				<key>width</key>
				<integer>160</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>616</integer>
				<key>y</key>
				<integer>478</integer>
				<key>offsetX</key>
				<real>11</real>
				<key>offsetY</key>
				<real>43.5</real>
			</dict>
			<key>monster/atk/2/atk20010.png</key>
			<dict>
				<key>width</key>
				<integer>162</integer>
				<key>height</key>
				<integer>161</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>777</integer>
				<key>y</key>
				<integer>478</integer>
				<key>offsetX</key>
				<real>33</real>
				<key>offsetY</key>
				<real>51.5</real>
			</dict>
			<key>monster/atk/3/atk30000.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>169</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>940</integer>
				<key>y</key>
				<integer>478</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>42.5</real>
			</dict>
			<key>monster/atk/3/atk30001.png</key>
			<dict>
				<key>width</key>
				<integer>172</integer>
				<key>height</key>
				<integer>204</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>1100</integer>
				<key>y</key>
				<integer>478</integer>
				<key>offsetX</key>
				<real>34</real>
				<key>offsetY</key>
				<real>84</real>
			</dict>
			<key>monster/atk/3/atk30002.png</key>
			<dict>
				<key>width</key>
				<integer>148</integer>
				<key>height</key>
				<integer>244</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>1273</integer>
				<key>y</key>
				<integer>478</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>103</real>
			</dict>
			<key>monster/atk/3/atk30003.png</key>
			<dict>
				<key>width</key>
				<integer>189</integer>
				<key>height</key>
				<integer>208</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>1422</integer>
				<key>y</key>
				<integer>478</integer>
				<key>offsetX</key>
				<real>-20.5</real>
				<key>offsetY</key>
				<real>85</real>
			</dict>
			<key>monster/atk/3/atk30004.png</key>
			<dict>
				<key>width</key>
				<integer>152</integer>
				<key>height</key>
				<integer>215</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>1612</integer>
				<key>y</key>
				<integer>478</integer>
				<key>offsetX</key>
				<real>-22</real>
				<key>offsetY</key>
				<real>88.5</real>
			</dict>
			<key>monster/atk/3/atk30005.png</key>
			<dict>
				<key>width</key>
				<integer>135</integer>
				<key>height</key>
				<integer>192</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>1765</integer>
				<key>y</key>
				<integer>478</integer>
				<key>offsetX</key>
				<real>-12.5</real>
				<key>offsetY</key>
				<real>14</real>
			</dict>
			<key>monster/atk/3/atk30006.png</key>
			<dict>
				<key>width</key>
				<integer>158</integer>
				<key>height</key>
				<integer>183</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>723</integer>
				<key>offsetX</key>
				<real>-25</real>
				<key>offsetY</key>
				<real>22.5</real>
			</dict>
			<key>monster/atk/3/atk30007.png</key>
			<dict>
				<key>width</key>
				<integer>173</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>159</integer>
				<key>y</key>
				<integer>723</integer>
				<key>offsetX</key>
				<real>-32.5</real>
				<key>offsetY</key>
				<real>40.5</real>
			</dict>
			<key>monster/atk/3/atk30008.png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>170</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>333</integer>
				<key>y</key>
				<integer>723</integer>
				<key>offsetX</key>
				<real>-12.5</real>
				<key>offsetY</key>
				<real>37</real>
			</dict>
			<key>monster/atk/3/atk30009.png</key>
			<dict>
				<key>width</key>
				<integer>146</integer>
				<key>height</key>
				<integer>181</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>467</integer>
				<key>y</key>
				<integer>723</integer>
				<key>offsetX</key>
				<real>-10</real>
				<key>offsetY</key>
				<real>34.5</real>
			</dict>
			<key>monster/atk/3/atk30010.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>169</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>614</integer>
				<key>y</key>
				<integer>723</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>42.5</real>
			</dict>
			<key>monster/atk/4/atk40000.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>178</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>774</integer>
				<key>y</key>
				<integer>723</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>34</real>
			</dict>
			<key>monster/atk/4/atk40001.png</key>
			<dict>
				<key>width</key>
				<integer>161</integer>
				<key>height</key>
				<integer>188</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>925</integer>
				<key>y</key>
				<integer>723</integer>
				<key>offsetX</key>
				<real>20.5</real>
				<key>offsetY</key>
				<real>73</real>
			</dict>
			<key>monster/atk/4/atk40002.png</key>
			<dict>
				<key>width</key>
				<integer>119</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>1087</integer>
				<key>y</key>
				<integer>723</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>105</real>
			</dict>
			<key>monster/atk/4/atk40003.png</key>
			<dict>
				<key>width</key>
				<integer>103</integer>
				<key>height</key>
				<integer>224</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>1207</integer>
				<key>y</key>
				<integer>723</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>92</real>
			</dict>
			<key>monster/atk/4/atk40004.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>227</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>1311</integer>
				<key>y</key>
				<integer>723</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>93.5</real>
			</dict>
			<key>monster/atk/4/atk40005.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>148</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>1436</integer>
				<key>y</key>
				<integer>723</integer>
				<key>offsetX</key>
				<real>-60</real>
				<key>offsetY</key>
				<real>33</real>
			</dict>
			<key>monster/atk/4/atk40006.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>1657</integer>
				<key>y</key>
				<integer>723</integer>
				<key>offsetX</key>
				<real>-60</real>
				<key>offsetY</key>
				<real>44.5</real>
			</dict>
			<key>monster/atk/4/atk40007.png</key>
			<dict>
				<key>width</key>
				<integer>189</integer>
				<key>height</key>
				<integer>142</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>974</integer>
				<key>offsetX</key>
				<real>-44.5</real>
				<key>offsetY</key>
				<real>51</real>
			</dict>
			<key>monster/atk/4/atk40008.png</key>
			<dict>
				<key>width</key>
				<integer>188</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>190</integer>
				<key>y</key>
				<integer>974</integer>
				<key>offsetX</key>
				<real>-44</real>
				<key>offsetY</key>
				<real>51.5</real>
			</dict>
			<key>monster/atk/4/atk40009.png</key>
			<dict>
				<key>width</key>
				<integer>148</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>379</integer>
				<key>y</key>
				<integer>974</integer>
				<key>offsetX</key>
				<real>-24</real>
				<key>offsetY</key>
				<real>40.5</real>
			</dict>
			<key>monster/atk/4/atk40010.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>178</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>528</integer>
				<key>y</key>
				<integer>974</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>34</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>21011.png</string>
			<key>realTextureFileName</key>
			<string>21011.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>